<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
	<script src="js/skel.min.js"></script>
	<script src="js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="css/skel.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-wide.css" />
		<link rel="stylesheet" href="css/style-noscript.css" />
	</noscript>
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	<script>
	/**
	* Function that tracks a click on an outbound link in Google Analytics.
	* This function takes a valid URL string as an argument, and uses that URL string
	* as the event label.
	*/
	var trackOutboundLink = function(url) {
	   ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
	     function () {
	     document.location = url;
	     }
	   });
	}
	</script>
    </head>
    <body class="loading">

        <div class="wrapper">
          <div id="bg"></div>
          <div id="overlay"></div>
          <div id="main">
            <header id="header">
              <h1>{{ site.name }}</h1>
		<p>Software Engineer at Adobe &nbsp;&bull;&nbsp; Snowboarder, Sailer and Springboard Diver</p>
		<nav>
			<ul>
				<li><a href="https://twitter.com/robert_mccubbin" onclick="trackOutboundLink('https://twitter.com/robert_mccubbin'); return false;" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/rmccubbin" onclick="trackOutboundLink('https://www.facebook.com/rmccubbin'); return false;" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="https://github.com/rmccubbin" onclick="trackOutboundLink('https://github.com/rmccubbin'); return false;" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="https://uk.linkedin.com/in/rmccubbin" onclick="trackOutboundLink('https://uk.linkedin.com/in/rmccubbin'); return false;" class="icon fa-linkedin"><span class="label">Linked In</span></a></li>
			</ul>
		</nav>
            </header>

            {{ content }}

        </div>

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-61899907-1', 'auto');
         ga('send', 'pageview');
         </script>
    </body>
</html>
